* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    padding-left: 1cm
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%; /* ページ幅の80%を使用 */
    cursor: pointer;
    padding: 40px;
}

/* メインコンテンツ */
.main-content {
    flex: 1;
    margin-right: 40px; /* 予約フォームとの間にスペースを追加 */
}

.main-content a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    background-color: #fff;
    border-radius: 5px;
    width: 38px;
    height: 38px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 25px;
}

/* 店名 */
h2 {
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 27px;
}

/* お店の画像 */
img {
    width: 600px; /* 固定幅 */
    height: auto; /* 比率を維持 */
    object-fit: cover;
    margin-bottom: 25px;
}

/* #タグ */
p {
    font-size: 1.1rem;
    margin-bottom: 27px;
}

/* 予約フォーム */
.reservation-form {
    background-color: #3b82f6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding: 40px;
    width: 550px; /* フォームの幅を拡大 */
    color: white;
    border-radius: 6px; /* 角を丸く */
}

.reservation-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.reservation-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
}

.reservation-form input,
.reservation-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.reservation-summary {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.reservation-summary p {
    margin: 0;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1d4ed8;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #2563eb;
}
