* {
    margin: 0;
    padding: 0;
}

/* 検索結果該当なしの時のアラート */
.alert {
    top: 150px;
    left: 60px;
    padding: 10px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
}

/* 検索フォーム全体 */
.search-form {
    display: flex;
    width: 40%;
    margin-top: -50px;
    margin-left: 1030px;
}

/* 各選択肢（都道府県、ジャンル）のスタイル */
header select {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30%;
    min-width: 150px; /* 最小幅を指定 */
}

/* キーワード検索の入力フィールドのスタイル */
header input[type="text"] {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 35%;
    min-width: 200px;
}

/* 検索ボタン(非表示設定) */
header button {
    position: fixed;
    display: none;
}

/* 飲食店カード全体スタイル */
.grid-container {
    display: grid;
    gap: 25px;
    padding: 30px;
    grid-template-columns: repeat(4, 1fr);  /* 横4列に固定 */
    margin-top: 30px;
}

.card {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* 画像をカードに収める */
}

.card-info {
    padding: 15px;
    padding-bottom: 25px;
}

.card-info h2 {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 5px;
    text-align: left;
}

.card-info p {
    font-size: 14px;
    margin-left: 10px;
}

.card-info a {
    background-color: #3267f9;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none
}

.card-info a:hover {
    background-color: #0056b3;
}

/* お気に入りのハートの共通スタイル */
.heart {
    cursor: pointer;
    font-size: 40px;
    transition: color 0.3s ease; /* 色の変化をスムーズに */
    margin-left: 190px;
}

/* お気に入り登録されている場合 (赤いハート) */
.heart-filled {
    color: red; /* 赤色 */
}

/* お気に入り登録されていない場合 (空のハート) */
.heart-empty {
    color: #d3d3d3; /* 灰色 */
}

/* アクティブなハート (クリックされた時に少し大きくなる) */
.heart.active {
    transform: scale(1.1); /* クリックされた時にハートが少し大きくなる */
}

.heart-disabled {
    color: lightgray;
    cursor: not-allowed; /* クリックできない状態 */
    opacity: 0.6;
}
