* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ページ全体の中央揃え */
body {
    justify-content: center;
    align-items: center;
}

.header__wrap {
    display: flex;
    align-items: center;
    background-color: #3267f9;
    color: #fff;
    height: 50px;
    width: 420px;
    border-radius: 3px 3px 0 0;  /* 上部の角だけ丸くする */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    margin: 70px auto 0;    /* 左右中央揃え */
}

.header__text {
    margin-left: 20px;
}

.form__wrap {
    height: 180px;
    width: 420px;
    padding: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    border-radius: 0 0 3px 3px;  /* 下部の角だけ丸くする */
    margin: 0 auto;  /* 左右中央揃え */
    margin-top: 0px;
}

.form__input {
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    padding: 3px;
    font-size: 15px;
    width: 85%;
}

.icon__wrap {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 20px;  /* アイコンと入力フィールドの間に余白を追加 */
    }

.icon__wrap i {
    font-size: 20px;
    color: #555;
    margin-right: 10px;   /* アイコンと入力フィールドの間隔 */
    width: 30px;          /* アイコンを左端に揃えるための幅 */
    text-align: center;   /* アイコンを中央揃え */
}

.form__input-button {
    background-color: #3267f9;
    color: white;
    border: none;
    height: 40px;
    width: 100px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 270px;
}

.form__input-button:hover {
    background-color: #336ab3;
}

.error__message {
    color: red;
    font-size: 15px;
    display: flex;
    justify-content: flex-end; /* 右寄せ */
}
