* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

/* 画面全体の余白 */
.container {
    padding-left: 1.5cm;
    padding-right: 1cm;
    padding-bottom: 2cm;
}


.header__wrap {
    padding-top: 20px;
    padding-bottom: 10px;
}

.header__text {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.reservation-card {
    height: 270px;
    width: 450px;
    border-radius: 5px;
    background-color: #3267f9;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
    margin-top: 25px; /* 予約カード間の余白 */
    transition: transform 0.2s; /* ホバー時のアニメーション */
    padding: 30px;
    color: white;
    font-size: 15px;
}

.reservation-card p {
    margin-bottom: 15px; /* 各データ行の上下間隔 */
}

.reservation-number {
    display: flex;
    margin-top: 5px;
}

.reservation-number p {
    font-size: 17px;
    margin-top: -1px;
}

.reservation-number .fa-clock {
    margin-bottom: 30px;
    margin-right: 40px; /* 時計アイコンと予約番号の間の余白 */
    font-size: 1.5rem  /* 時計アイコンのサイズ変更 */
}

.reservation-card:hover {
    transform: scale(1.05); /* ホバー時に少し大きくなる */
}

.label {
    width: 80px;
    margin-right: 45px; /* ラベルとデータ間の余白 */
    margin-left: 5px;
    margin-bottom: 10px;
}

.data {
    padding-left: 20px;
}

.data-shop {
    margin-left: 15px;
}


