* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__wrap {
    display: flex;
    align-items: center;
    background-color: #3267f9;
    color: #fff;
    height: 50px;
    width: 420px;
    border-radius: 3px 3px 0 0;  /* 上部の角だけ丸くする */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    margin: 70px auto 0;    /* 左右中央揃え */
}

.header__text {
    margin-left: 20px;
}

.form__wrap {
    height: 220px;
    width: 420px;
    padding: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    background-color: #fff;
    border-radius: 0 0 3px 3px;  /* 下部の角だけ丸くする */
    margin: 0 auto;  /* 左右中央揃え */
    margin-top: 0px;
}

.form__group {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* 各項目の間隔を広げる */
}

.form__group i {
    font-size: 20px;
    color: #555;
    margin-right: 10px;   /* アイコンと入力フィールドの間隔 */
    width: 30px;          /* アイコンを左端に揃えるための幅 */
    text-align: center;   /* アイコンを中央揃え */
}

.form__input {
    width: 100%;          /* フレックスボックスに対応するため調整 */
    border: none;
    outline: none;
    border-bottom: 1px solid #ccc;
    padding: 3px;
    font-size: 15px;
}

.form__input-button {
    background-color: #3267f9;
    color: white;
    border: none;
    height: 40px;
    width: 80px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 5px;
    margin-left: 300px;
}

.form__input-button:hover {
    background-color: #336ab3;
}

.form__error {
    color: red;
    font-size: 15px;
    display: flex;
    justify-content: flex-end; /* 右寄せ */
}
