.thanks__content {
    margin: 0 auto;
    text-align: center;
    padding: 30px 15px;
    max-width: 1000px;
}

.thanks__content p {
    font-size: 23px;
    margin-top: 30px;
}


.button-submit {
    padding: 7px;
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background: rgb(38, 81, 207);
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    margin-top: 45px;
}
